<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productComment">
            <h2><span jhiTranslate="bookstoreApp.productComment.detail.title">Product Comment</span> {{productComment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bookstoreApp.productComment.rate">Rate</span></dt>
                <dd>
                    <span>{{productComment.rate}}</span>
                </dd>
                <dt><span jhiTranslate="bookstoreApp.productComment.userName">User Name</span></dt>
                <dd>
                    <span>{{productComment.userName}}</span>
                </dd>
                <dt><span jhiTranslate="bookstoreApp.productComment.userComment">User Comment</span></dt>
                <dd>
                    <span>{{productComment.userComment}}</span>
                </dd>
                <dt><span jhiTranslate="bookstoreApp.productComment.product">Product</span></dt>
                <dd>
                    <div *ngIf="productComment.product">
                        <a [routerLink]="['/product', productComment.product?.id, 'view']">{{productComment.product?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-comment', productComment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
