<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-product-comment-heading" jhiTranslate="bookstoreApp.productComment.home.createOrEditLabel">Create or edit a Product Comment</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookstoreApp.productComment.rate" for="field_rate">Rate</label>
                    <input type="number" class="form-control" name="rate" id="field_rate"
                           formControlName="rate"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookstoreApp.productComment.userName" for="field_userName">User Name</label>
                    <input type="text" class="form-control" name="userName" id="field_userName"
                           formControlName="userName"/>
                    <div *ngIf="editForm.get('userName').invalid && (editForm.get('userName').dirty || editForm.get('userName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('userName').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookstoreApp.productComment.userComment" for="field_userComment">User Comment</label>
                    <input type="text" class="form-control" name="userComment" id="field_userComment"
                           formControlName="userComment"/>
                    <div *ngIf="editForm.get('userComment').invalid && (editForm.get('userComment').dirty || editForm.get('userComment').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('userComment').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookstoreApp.productComment.product" for="field_product">Product</label>
                    <select class="form-control" id="field_product" name="product" formControlName="product">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productOption.id === editForm.get('product').value?.id ? editForm.get('product').value : productOption" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
